*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DBB5B5;
}

a{
    text-decoration: none;
}

.nav-enlace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  

    transition: all;
    transition-duration: 1s;
    transform: scale(1);
}

.nav-barra{
    padding: 10px 30px;
}

.nav-enlace:hover{
    background-color: #DBB5B5;
    
    transition: all;
    transition-duration: 1s;
    transform: scale(0.9);
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: /* #CCC8AA */ #F1E5D1;
    /* padding: 10px; */
    width: 100%;
    align-items: center;   
}

picture img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    width: 80px; 
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 50px; 
    
}
#busqueda{
    width: 300px;
    
}

nav ul input{
    padding: 10px 30px;
}

ul img{
    display: flex;
    height: 40px;
    width: 40px;
    justify-items: center;
}

input{
    width: 500px;
    height: 40px;
}

.banner-img{
    display: flex;
    
    padding: 70px;
    
    background-color: #F1E5D1;
    
    width: 100%;
    height: 400px;
}

.banner-img ul{
    display: flex;
    flex-direction: column;

    width: 50%;
}

article .banner-h1{
    display: flex;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 20px;
}

.banner-p1{
    display: flex;

    justify-content: center;
    align-items: center;

}

.butt-cta{
    padding: 10px;
    border: 2px solid #DBB5B5;
    border-radius: 1rem;
    
    background-color: #DBB5B5;
    color: black;

    position: relative;
    left: 70px;
    
    font-size: 15px;
    
}

.butt-learnmore{
    padding: 10px;
    border: 2px solid #DBB5B5;
    border-radius: 1rem;

    background-color: #DBB5B5;
    color: black;

    position: relative;
    right: 70px;
    
    font-size: 15px;

}

#banner-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    align-content: center;
    text-align: center;

}

.banner-anillos{
    position: relative;
    bottom: 20px;
    left: 70px;

    width: 500px;
    height: 200px;
}

section div .section-mision{
    display: flex;
    flex-direction: row;

    font-size: 25px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

    justify-content: center;
    align-content: center;
    text-align: center;
    

    padding: 40px 300px;
}

.banner-butt{
    display: flex;
/* 
    background-color: #F1E5D1; */
    transition: all;
    transition-duration: 1s;
    transform: scale(1);
}

.banner-butt:hover{
    transition: all;
    transition: 1s;
    transform: scale(0.8);
}

main footer .contenedor-cards ul li img{
    position: relative;
    left: 100px;

    margin-top: 5px;
    margin-bottom: 5px;
}

main footer .contenedor-cards ul li{
    
    list-style: none;
}

main footer .contenedor-cards ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 90px;
}

.cards{
    width: 250px;
    height: 150px;
    padding: 5px;

    align-items: center;
    text-align: center;
}

.card1{
    background-color: #F1E5D1;
    
    border: 1px solid black;
    border-radius: 1rem;
    
    position: relative;
    right: 50px;
}

.card2{
    background-color: #F1E5D1;

    border: 1px solid black;
    border-radius: 1rem;
}

.card3{
    background-color: #F1E5D1;
    
    border: 1px solid black;
    border-radius: 1rem;

    position: relative;
    left: 50px;
}
/* ------------------------------------------------------------------------------------------------------ */
footer .contenedor-contactanos{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 150px;

    width: 100%;
}

.contenedor-contactanos h2{
    margin-bottom: 20px;
}

.footer-img{
    display: flex;
}

.footer-datos{
    display: flex;
    position: relative;
    left: 40px;
    bottom: 25px;

    width: 150px;

    
}

.footer-img,.footer-datos{
    display: inline;
}
/* ------------------------------------------------------------------------------------------------------- */
footer .contenedor-redes{
    display: flex;
    list-style: none;

}

.contenedor-redes img{
    width: 30px;
    height: 30px;

    margin-left: 5px;
    margin-right: 5px;
}

.footer-redes{
    display: flex;
    flex-direction: row;

    margin-top: 40px;
    position: relative;
    right: 132px;

    
}

.contenedor-redes h2{
    margin-bottom: 20px;
}

.contenedor-redes{
    margin-left: 300px;
    position: relative;
    bottom: 200px;
    
}

/* ------------------------------------------------------------------------------------------------------- */
.contenedor-footer{
    margin-left: 400px;
}

/* ------------------------------------------------------------------------------------------------------- */

.text-copyright{
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 13px;
}

